body{
    height:auto;
    background-color: rgb(88, 87, 87);
 
}
#header{
    color: rgb(247, 157, 38);
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
#nav{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}

body{
    background-color: rgb(88, 87, 87);
    height:100% ;
}
.admin{
    margin-left: 40px;
    margin-top: 20px;

}
li{
    margin-top: 20px;
}

.menu{
    padding: 20px;
}