#city{
margin-left: 20px;
}


.resDetails{
position: absolute;
margin-top: -250px;
margin-left: 550px;
}

img{
    
    border: rgb(0, 0, 0) solid;
    border-radius: 2%;
    position: absolute;
    width: 200px;
    margin-top: -200px;
    margin-left: 500px;
}
.herounit{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}
.resimg{
    margin-top: 100px;
    margin-left: 00px;
    color: rgb(255, 255, 255);
   position: absolute;
       
}
